# Ignore large files
Data/
Data/Processed/
#Ignore Outputs
Outputs/
# Ignore temporary files
**/__pycache__/
venv311/
/Data/Processed
# python cache
__pycache__/
*.pyc

# venv
.venv/
venv/

# training runs
runs/
checkpoints/
outputs/**/*.png
outputs/**/*.csv
outputs/**/*.ubj
